<div class="form-container">
  <p>
    This form represents how the required field validation is supposed to work
  </p>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-field">
      <label for="firstName" [class.invalid]="form.get('firstName')?.invalid && (form.get('firstName')?.dirty || form.get('firstName')?.touched)">First Name:</label>
      <input
        id="firstName"
        type="text"
        formControlName="firstName"
        [class.invalid]="form.get('firstName')?.invalid && (form.get('firstName')?.dirty || form.get('firstName')?.touched)"
        [class.valid]="form.get('firstName')?.valid && (form.get('firstName')?.dirty || form.get('firstName')?.touched)">

      <div *ngIf="form.get('firstName')?.invalid && (form.get('firstName')?.dirty || form.get('firstName')?.touched)" class="validation-message error">
        <i class="validation-icon error"></i>
        <span>First name is required</span>
      </div>

      <div *ngIf="form.get('firstName')?.valid && (form.get('firstName')?.dirty || form.get('firstName')?.touched)" class="validation-message success">
        <i class="validation-icon success"></i>
        <span>Input is valid</span>
      </div>
    </div>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" required></textarea>
      <!-- This error uses internal logic when validation error should be displayed as well, only using #errors is not enough -->
      <!-- A good solution for IX may be to add boolean attributes showValidity and showError-->
      <mat-error *ngIf="form.get('description')?.errors?.['required']">Description is required</mat-error>
    </mat-form-field>

    <ix-button type="submit" [disabled]="!form.valid">Submit</ix-button>
  </form>
</div>
