.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;

  form {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

.form-field {
  margin-bottom: 20px;
  width: 100%;

  ix-input {
    width: 100%;
  }
}

