<div class="form-container">
  <p>
    Form with Required Validator from Angular and with required html attribute
  </p>
  <p>
    This represens that the IX inputs are broken for the required validator
  </p>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-field">
      <ix-input
        label="Some Label"
        formControlName="input"
        [required]="true"
        valid-text="Input is valid"
        invalid-text="This field is required"
      >
      </ix-input>
    </div>

    <ix-button type="submit" [disabled]="!form.valid">Submit</ix-button>
  </form>
</div>
